* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*   body {
    background: linear-gradient(to right, #e3f2f1, #bfd4d3); 
}*/
.underline {
    text-decoration: underline;
  }

/*.wrapper {
} */

a {
    color: #ae937a; /*color hyperlink*/
}
.biglink {
    color: #ae937a; /**/
    padding: 10px;
    border: 2px solid #334252;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.biglink:hover {
    background-color:#fff;
}
.mediumlink {
    color: #ae937a; /**/
    padding: 20px;
   /* text-transform: uppercase;
    font-weight: bold;*/
}
.wrapper_inner {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%; 
    background: #fff;
    display: flex;
}

.vertical_wrap {
    position: fixed;
    height: 100%;
}

.vertical_bar {
    width: 300px; 
    background: #334252;
    height: 100%;
    position: fixed;
}

     .spacings {
        height: 20px;
    }

    .vertical_bar .profile_info {
        text-align: center;
        padding: 5px 5px; 
    }

        .vertical_bar .profile_info img {
            width: 100px;
        }

        .vertical_bar .profile_info .title {
            font-size: 20px;
            letter-spacing: 2px;
            color: #ae937a;
            font-weight: 700;
            padding-top: 5px; 
        }

        .vertical_bar .profile_info .sub_title {
            font-size: 14px;
            color: #fff;
        }


    .vertical_bar .menu {
        padding-left: 25px;
    }

        .vertical_bar .menu li a {
            display: block;
            padding: 15px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            margin-bottom: 1px;
        }

            .vertical_bar .menu li a .icon {
                color: #ae937a;
                width: 25px;
                display: inline-block;
            }

            .vertical_bar .menu li a:hover,
            .vertical_bar .menu li a.active {
                background: #fff;
                color: #334252;
            }

    .vertical_bar .social_l1 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

        .vertical_bar .social_l1 li a {
            width: 50px;
            height: 50px;
            color: #fff;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            margin: 0 5px;
        }

            .vertical_bar .social_l1 li a:hover {
                color: #334252;
                background: #fff;
            }


    .vertical_bar .social_l2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

        .vertical_bar .social_l2 li a {
            width: 50px;
            height: 50px;
            color: #fff;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            margin: 0 5px;
        }

            .vertical_bar .social_l2 li a:hover {
                color: #334252;
                background: #fff;
            }
/* text*/
.main_container {
    width: calc(100% - 20px);
    position: relative;
    margin-left: 300px; /*vertical bar width*/
}

    .main_container .top_bar {
        height: 60px;
        background: #334252;
        padding: 15px 25px;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
    }

.top_bar .menu_icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-right: 25px;
}

.top_bar .logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ae937a;
}

    .top_bar .logo span {
        color: #fff;
    }

.main_container .container {
    padding: 25px;
    height: calc(100% - 60px);
    margin-top: 60px;
}

    .main_container .container .item {
        background: #eaecec;
        padding: 50px;
        margin-bottom: 25px;
        border-radius: 25px;
    }


.main_container .content_cascade {
    padding: 25px;
    height: calc(100% - 60px);
    margin-top: 60px;
    column-count: 2;
    -webkit-column-count: 2;
    column-gap: 0;
    -webkit-column-gap: 0;
}

    .main_container .content_cascade .little_box {
        background: #eaecec;
        padding: 30px;
        margin-bottom: 40px; 
        border-radius: 25px;
        width: 90%;
        break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }

.MyName {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #334252;
        padding-top: 20px;
        padding-bottom: 20px;
}

.listing_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #334252;
    padding-top: 20px;
    padding-bottom: 20px;
}
.listing_title .icon {
    color: #ae937a;
}

.listing_subtitle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #334252;
    margin-top: 8px;
}

.listing_details {
    margin-bottom: 30px;
    padding-left: 15px;
}

    .listing_details li {
        margin-bottom: 20px;
    }

    .listing_details li {
        margin-bottom: 20px;
    }

.mini_list li {
    list-style: disc;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .top_bar .menu_icon {
        display: inline-block;
    }

    .vertical_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
    }

        .vertical_wrap .backdrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #757575;
            z-index: 1;
        }

    .vertical_bar {
        position: fixed;
        height: 100%;
        top: 0;
        left: -100%;
        transition: left 0.2s linear;
       z-index: 1; 
    }

    .main_container {
        width: 100%;
        margin-left: 0px; 
    }


    .wrapper.active .vertical_wrap {
        visibility: visible;
    }

    .wrapper.active .vertical_bar {
        left: 0;
        transition: left 0.2s linear;
    }

}

@media (max-width: 1200px) {
        .main_container .content_cascade {
        padding: 25px;
        height: calc(100% - 60px);
        margin-top: 60px;
        column-count: 1; 
        -webkit-column-count: 1;
        column-gap: 0;
        -webkit-column-gap: 0; 
        }
}
@media (max-height: 700px) {
    .spacings {
        height: 0px;
    }
    .vertical_bar .profile_info img {
        width: 75px;
    }
}
